@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* smooth-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
} */

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-alternates/montserrat-alternates-medium.ttf');
}

@import 'tailwindcss';

@theme {
  --font-montserrat: Montserrat, sans-serif;
  --default-font-family: var(--font-montserrat);

  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  } */
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
