@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-alternates/montserrat-alternates-medium.ttf');
}

@import 'tailwindcss';

@theme {
  --font-montserrat: Montserrat, sans-serif;
  --default-font-family: var(--font-montserrat);

  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
